
h1 {
  margin-top: 10px;
  align-content: center;
}
.App {
  background-color: #264653;
  background-image: url("./notepad.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 480px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  justify-content:start;
  flex-direction: column;
  margin-top: 20px;
  align-content: space-around;
}
body {
  display: flex;
  justify-content: center;
 
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(37,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

